{% extends "admin/header.html"%}
{% block content %}
<section class="is-title-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <ul>
      <li>Admin</li>
      <li>Add-Sub-Main</li>
    </ul>
    
  </div>
</section>

<section class="is-hero-bar">
  <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
    <h1 class="title">
        Add-Sub-Main
    </h1>
  </div>
</section>

  <section class="section main-section">
    <div class="card mb-6">
      <header class="card-header">
        <p class="card-header-title">
          <span class="icon"><i class="mdi mdi-ballot"></i></span>
          Add-Sub-Main
        </p>
      </header>
      <div class="card-content">
        <form method="post" enctype="multipart/form-data">
          <div class="field">
            <label class="label">Main Details</label>
            <div class="field-body">
              <div class="field">Sub-course-Name
                <div class="control icons-left">
                  <input class="input" type="text" for="Name" name = "Name" id = "Name"  placeholder="Name" >
                  <span class="icon left"><i class="mdi mdi-account"></i></span>
                </div>
              </div>
              <div class="field">Course-Name
              <select class="input" name="product_id" id="product_id" name="product_id">
                <option value="0">Select</option>
                {% for products in product %}
                    <option value="{{ products.p_id }}">{{ products.p_name }}</option>
                {% endfor %}
            </select><br><br>
            </div>
              <div class="field">Sub-course-Duration
                <div class="control icons-left">
                  <input class="input" type="text" for="Dur" name = "Dur" id = "Dur"  placeholder="Enter Duration Of Course ('180 Minutes') ">
                  <span class="icon left"><i class="mdi mdi-account"></i></span>
                </div>
              </div>
              <div class="field">Sub-course-Credit
                <div class="control icons-left">
                  <input class="input" type="number" for="credit" name = "credit" id = "credit"  placeholder="Enter Credit ">
                  <span class="icon left"><i class="mdi mdi-account"></i></span>
                </div>
              </div>
              <div class="field">Sub-course-level
                <select class="input" name="level" id="level" name="level">
                  <option value="Easy">Easy</option>
                  <option value="Hard">Hard</option>
                  <option value="Medium">Medium</option>
                  
              </select>
              </div>
              <div class="field">Sub-course-Logo
                <div class="control icons-left icons-right">
                  <input class="input" type="file" for="Logo" name = "Logo" id = "Logo"  placeholder="Logo"  >
                </div>
                
              </div>
              
            </div>
            </div>
          </div>
        
        </div>
       
      </div>
      </div>
    </div>
  
          <div class="field grouped">
            <div class="control">
                <input type="submit" class="button green" value="Update">
            </div>
            </div>
          </div>
        </form>
      </div>
    </div>
</section>
  {% endblock %}
