{% extends "admin/header.html"%}
{% block content %}
<link href="//cdn.datatables.net/2.0.0/css/dataTables.dataTables.min.css" rel = "stylesheet">
<section class="is-title-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <ul>
        <li>Admin</li>
        <li>Sub-Main</li>
      </ul>
    
    </div>
  </section>
  
  <section class="is-hero-bar">
    <div class="flex flex-col md:flex-row items-center justify-between space-y-6 md:space-y-0">
      <h1 class="title">
        Sub-Main
      </h1>
      <a href="{{ url_for('add_sub_product') }}"><button class="button light">Add</button></a>

    </div>
  </section>
  
    <section class="section main-section">
      
      <div class="card has-table">
        <header class="card-header">
          <p class="card-header-title">
            <span class="icon"><i class="mdi mdi-account-multiple"></i></span>
            Clients
          </p>
          <a href="#" class="card-header-icon">
            <span class="icon"><i class="mdi mdi-reload"></i></span>
          </a>
        </header>
        <div class="card-content">
          <table class="table">
            <thead>
            <tr>
        
              <th>ID</th>
              <th>Main Course Name</th>
              <th>Sub Course Name</th>
              <th>Duration</th>
              <th>Credit</th>
              <th>Level</th>
              <th>Logo</th>
              <th>Status</th>
              <th>Delete</th>




            </tr>
            </thead>
            <tbody> 
              {% for user in subproducts %}
            <tr>
                <td>{{ user.sp_id }}</td>
                <td>{{ user.p_name }}</td>
                <td>{{ user.sp_name }}</td>
                <td>{{ user.sp_duration }}</td>
                <td>{{ user.sp_credit }}</td>
                <td>{{ user.sp_level }}</td>

                <td width="30%"><a href="{{ url_for('static', filename ='sublogo/' + user.sp_logo) }}" target="_blank"><img src="{{ url_for('static', filename ='sublogo/' + user.sp_logo) }}" height = "20%" width = "30%">


                <td>{{ user.sp_status }}</td>
     
    
                <td><a href ="{{ url_for('sub_product_delete', sp_id=user.sp_id) }}"><button class="button small red --jb-modal" data-target="sample-modal" type="button">
                    <span class="icon"><i class="mdi mdi-trash-can"></i></span>
                  </button></a>
              </td>
            </tr> 
            {% endfor %}
</tbody>
</table>

<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
<script src="//cdn.datatables.net/2.0.0/js/dataTables.min.js"></script>
<script> 
$(document).ready( function () {
    $('.table').DataTable();
} );
</script>
{% endblock %}





















<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>Admin Data</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>name</th>
                <th>email</th>
                <th>password</th>
                <th>mobile</th>        
                <th>age</th>
                <th>update</th>
                <th>delete</th>
                
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user[0] }}</td>
                    <td>{{ user[1] }}</td>
                    <td>{{ user[2] }}</td>
                    <td>{{ user[3] }}</td>
                    <td>{{ user[4] }}</td>
                    <td>{{ user[5] }}</td>
                    <td>
                        <a href="{{ url_for('edit_user', user_id=user[0]) }}">Edit</a> </td>
                        <td><a href="{{ url_for('delete_user', user_id=user[0]) }}" onclick="return confirm('Are you sure you want to delete this user?')">Delete</a>
                </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('admin_home') }}">Admin</a>



</body>

</html> -->
